# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/

# Test artifacts
test_result*.json

# Env
.env
.env.local
